* {
    box-sizing: border-box;
}

body {
    margin: 40px;
}

table {
    width: 600px;
}

table thead {
    background-color: rgb(114, 114, 114);
}

table tbody {
    background-color: rgb(168, 168, 168) ;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: rgb(202, 202, 202);
}

tbody tr:nth-child(even){
    background-color:rgb(168, 168, 168) ;
}
